<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Office Managment System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>Office Employee Managment System</h1>
      <hr>
      <a href=" {% url 'all_emp' %}"> <button type="button" class="btn btn-primary">  View All Employee </button> </a>
      <a href=" {% url 'add_emp' %}"> <button type="button" class="btn btn-primary">Add an Employee</button> </a>
      <a href=" {% url 'remove_emp' %}"> <button type="button" class="btn btn-primary">Remove an Employee</button> </a>
      <a href=" {% url 'filter_emp' %}"> <button type="button" class="btn btn-primary">Filter Employee Details</button> </a>
  </div>
  <br> <hr>
    <div class="container">
        <h1> Add an Employee </h1>
      <hr>
      <form method='POST'> 
        {% csrf_token %}

        <div class="mb-3">
          <label for="first_name" name='first_name' class="form-label">First Name</label>
          <input type="text" class="form-control" id="first_name" aria-describedby="emailHelp" name="first_name" value='{{ first_name }}'>
          
          <label for="last_name" name='last_name' class="form-label">Last Name</label>
          <input type="text" class="form-control" id="last_name" aria-describedby="emailHelp" name="last_name" value='{{ last_name }}'>

          <label for="dept" name='dept' class="form-label">Department</label>
          <input type="text" class="form-control" id="dept" aria-describedby="emailHelp" name="dept" value='{{ dept.id }}'>

          <label for="salary" name='salary' class="form-label">Salary</label>
          <input type="salary" class="form-control" id="salary" aria-describedby="emailHelp" name="salary" value='{{ salary }}'>

          <label for="hours" name='hours' class="form-label">Hours</label>
          <input type="text" class="form-control" id="hours" aria-describedby="emailHelp" name="hours" value='{{ hours }}'>

          <label for="role" name='role' class="form-label">Role</label>
          <input type="text" class="form-control" id="role" aria-describedby="emailHelp" name="role" value='{{ role.id }}'>

          <label for="phone" name='phone' class="form-label">Phone</label>
          <input type="text" class="form-control" id="phone" aria-describedby="emailHelp" name="phone" value='{{ phone }}'>


          <button type="submit" class="btn btn-primary">Submit</button>

        </div>
      </form>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>