<div class="container">
    <h1>Office Employee Managment System</h1>
    <hr>
    <a href=" {% url 'all_emp' %}"> <button type="button" class="btn btn-primary">  View All Employee </button> </a>
    <a href=" {% url 'add_emp' %}"> <button type="button" class="btn btn-primary">Add an Employee</button> </a>
    <a href=" {% url 'remove_emp' %}"> <button type="button" class="btn btn-primary">Remove an Employee</button> </a>
    <a href=" {% url 'filter_emp' %}"> <button type="button" class="btn btn-primary">Filter Employee Details</button> </a>
</div>