{% extends 'store/main.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>MyEcom</title>
</head>
<body>
    {% block content %}
    
        

</div>
    <div class="row">

        {% for product  in  products %}

        <div class="col-lg-4">
            <img src="{{product.image.url}}" alt="" srcset="" height='200px' class="im">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <button type="button" data-product={{product.id}} data-action='add' class="btn btn-warning update-cart" >Add to cart</button>
                <a href="" class="btn btn-success"> View</a>
                <h4 style="display: inline-block; float: right">₹{{product.price|floatformat:2}}</h4>

            </div>

        </div>

        {% endfor %}



    </div>
    {% endblock content %}
    
</body>
</html>
